{% extends "base.html" %}

{% block content %}
        <p>
            I am Dominika Wiewióra and I am a student in Kraków University of Economics. <br>
            As a first-year student of Applied Informatics, this project represents a significant milestone in my academic journey.<br>
            Developed as an assignment during class, this app has been a fantastic opportunity to put theory into practice and develop my skills in software development. <br>
            Crafting this application has afforded me valuable hands-on experience, allowing me to apply theoretical knowledge to practical scenarios.<br>
            As I continue to pursue my studies, I am committed to furthering my understanding of informatics and refining my skills.
        </p>
{% endblock %}