<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"> 
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
    <h1>Ceneo.pl Web Scraper</h1> 
   <div class="menu">
        <nav>
            <li><a href="{{ url_for('index') }}">Index</a></li>
            <li><a href="{{ url_for('extract') }}">Extract</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('author') }}">Author</a></li>
            <li><a href="{{ url_for('product', product_id='your_product_id_here') }}">Product</a></li>
        </nav>    
    </div>
    <!-- <div class="menu">
        <nav>
            <li>Index</li>
            <li>Extract</li>
            <li>Products</li>
            <li>Author</li>
            <li>Product</li>
        </nav>    
    </div> -->
    </header>
    <section>
        {% block content %}
        <p>
            This is base file
        </p>
        {% endblock %}
    </section>



    <footer>
       <p>Dominika Wiewióra, Krakow University of Ecomonics</p>
    </footer>
</body>
</html>