{% extends "base.html" %}

{% block content %}
        <p>
            Web application, tailored to facilitate the efficient extraction and analysis of product reviews from Ceneo.pl, <br>
            offers users for accessing invaluable insights effortlessly. <br>
            harnessing the capabilities of Python's BeautifulSoup, Requests, Pandas, Matplotlib, Plotly libraries, and the Flask framework,<br>
            users can seamlessly navigate through an intuitive interface to extract reviews based on product codes and delve into comprehensive statistics.<br>
            Application empowers users with the tools necessary to make well-informed decisions and cultivate a deeper understanding of prevailing product sentiments and trends.
        </p>
{% endblock %}